

.header-main-container {
    width: 100%;
    height: 100%;
    background: $primary-color;
    box-shadow: 0 2px 3px black;

    .header {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 .75em;

        .site-logo {
            font-size: 1.5em;
            font-weight: bolder;
            font-family: cursive;
            color: $secondary-color;
            font-style: italic;
        }

        .logout-nav {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: end;

            ul {
                display: flex;
                align-items: center;
                justify-content: end;

                li {
                    margin: 0 .3em;

                    .btn-link {
                        padding: .25em .95em;
                        color: $primary-color;
                        background: $secondary-color;
                        border-radius: 3px;
                        transition: 1s;

                        &:hover {
                            opacity: .75;
                        }
                    }
                }
            }
        }

        .login-nav {
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: end;
           
            .user-profile-conroller {
                position: fixed;
                top: 0;
                left: 0;
                background: rgba(245, 245, 245, 0.37);
                width: 100%;
                height: 100vh;
                display: flex;
                align-items: center;
                justify-content: center;
                backdrop-filter: blur(2px);

                .close-btn {
                    background: transparent;
                    border: none;
                    cursor: pointer;
                    font-size: 1.7em;
                    color: $primary-color;
                    position: absolute;
                    top: 7%;
                    right: 7%;
                }

                .action-container {
                    width: 75%;
                    height: 75%;
                    margin: 0 auto;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    background: $primary-color;
                    border-radius: 7px;

                    .profiles {
                        margin: 0 auto;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                        position: relative;

                        &:hover {
                            .delete-btn {
                                opacity: .75;
                            }
                        }
                        .delete-btn {
                            background: transparent;
                            border: none;
                            font-size: 1.5em;
                            position: absolute;
                            top: .13em;
                            right: .13em;
                            opacity: 0;
                            transition: 1s;
                            cursor: pointer;
                        }

                        .pick-image-label {
                            color: $primary-color;
                            font-size: 1.5em;
                            cursor: pointer;
                            position: absolute;
                            bottom: 1px;
                            left: 50%;
                            transform: translateX(-50%);
                        }

                        img {
                            width: 100%;
                            height: 100%;
                            border-radius: 5px;
                        }
                    }
                }
            }

            ul {
                display: flex;
                align-items: center;
                justify-content: end;

                li {
                    margin: 0 .25em;
                    position: relative;

                    &::after {
                        content: '';
                        width: 0;
                        height: 3px;
                        border-radius: 3px;
                        background: $secondary-color;
                        position: absolute;
                        left: 0;
                        bottom: -3px;
                        transition: 1s;
                    }

                    &:hover::after {
                        width: 100%;
                    }

                    a {
                        color: $secondary-color;
                    }
                }
            }

            .user-controller {
                display: flex;
                align-items: center;
                justify-content: end;

                button {
                    background: transparent;
                    border: 2px solid $secondary-color;
                    padding: .25em .75em;
                    border-radius: 3px;
                    cursor: pointer;
                    font-size: .95em;
                    margin: 0 .3em;
                    font-family: 'Times New Roman', Times, serif;
                    color: $secondary-color;
                }

                span {
                    font-family: 'Times New Roman', Times, serif;
                    font-style: italic;
                    color: $secondary-color;
                    font-size: small;
                }

                img {
                    width: 38px;
                    height: 32px;
                    border-radius: 50%;
                    cursor: pointer;
                    margin: 0 .3em;
                }
            }

            .show-nav-btn,.hide-nav-btn {
                background: transparent;
                border: none;
                cursor: pointer;
                color: $secondary-color;
                font-size: 1.5em;
                display: flex;
                align-items: center;
                justify-content: center;
                display: none;
            }
        }
    }
}

// media query


@media screen and (max-width: 600px) {
    .header-main-container {
        .header {
            position: relative;

            .login-nav {
                background: $primary-color;
                flex-direction: column;
                height: 100vh;
                width: 75%;
                align-items: center;
                justify-content: start;
                position: fixed;
                top: 0;
                right: -1000px;
                transition: .75s;

                .hide-nav-btn {
                    display: block;
                    position: absolute;
                    left: .5em;
                    top: .35em;
                }

                .show-nav-btn {
                    display: block;
                    position: fixed;
                    top: .55em;
                    right: .45em;
                }

                ul {
                    flex-direction: column;
                    width: 45%;
                    margin: 0 auto;
                    order: 2;

                    li {
                        margin: .25em;
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background: rgba(255, 255, 255, 0.187);
                        padding: 5px;
                    }
                }
                .user-controller {
                    margin-top: 1.3em;
                    flex-direction: column-reverse;

                    img {
                        width: 120px;
                        height: 100px;
                        border-radius: 5px;
                    }

                    span {
                        margin: .35em;
                    }

                    button {
                        margin-bottom: 1.5em;
                        padding: .25em 1.75em;
                    }
                }
            }
        }
    }
}