

.home-con {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;

    // post container
    .home-container {
        flex-grow: 3;
        height: 100%;
        width: 100%;
        padding: .35em;

        .posts-container {
            width: 100%;
            height: 100%;
            max-width: 920px;
            overflow: auto;

            &::-webkit-scrollbar {
                width: 3px;
            }

            &:hover::-webkit-scrollbar-track{
                background: whitesmoke;
                border-radius: 3px;
            }

            &:hover::-webkit-scrollbar-thumb{
                background: $primary-tx-color;
                border-radius: 3px;
            }

            .post {
                display: flex;
                flex-direction: column;
                margin: .75em .5em;

                .content {
                    margin-left: 1.5em;
                    position: relative;
                    background: $primary-tx-color;
                    padding: .5em;
                    border-radius: 5px;

                    p {
                        text-align: justify;
                        font-family: 'Times New Roman', Times, serif;
                        font-style: italic;
                    }
                    // edit and delete button controllers

                    &:hover .controllers {
                        opacity: 1;
                    }

                    .controllers {
                        position: absolute;
                        top: .025em;
                        right: .05em;
                        opacity: 0;
                        transition: .5s;

                        .post-controll-btn {
                            background: transparent;
                            border: none;
                            font-size: 1.5em;
                            margin: 0 .3em;
                            cursor: pointer;
                            color: $primary-bg-color;
                        }
                    }
                }

                .author-detail-container {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .author-img-name {
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;

                        img {
                            width: 38px;
                            height: 32px;
                            border-radius: 50%;
                            cursor: pointer;
                        }
                        span {
                            font-size: small;
                            font-style: italic;
                            font-weight: bold;
                            color: $primary-bg-color;
                            margin-left: .13em;
                        }
                    }

                    .post-reaction-controllers {
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;

                        .post-reaction-btn {
                            background: transparent;
                            border: none;
                            cursor: pointer;
                            font-size: 1.25em;
                            color: $primary-bg-color;
                            margin-right: .3em;
                        }

                        span {
                            font-size: small;
                            font-style: italic;
                            color: $primary-bg-color;
                        }
                    }
                }
            }
        }
    }

    // login and signup form container
    .login-signup-form-container {
        flex-basis: 480px;
        border-left: 5px solid $primary-bg-color;
        display: flex;
        align-items: start;
        justify-content: center;

        .form-container {
            width: 100%;
            margin: 0 auto;
            display: flex;
            align-items: start;
            justify-content: center;
            padding: .75em 0;

           form {
            width: 95%;
            margin: 0 auto;
            background: $primary-tx-color;
            border-radius: 5px;
            display: flex;
            align-items: center;
            flex-direction: column;

            h3 {
                font-family: 'Times New Roman', Times, serif;
                font-style: italic;
                text-align: center;
                margin: 12px 0;
            }

            .input-control {
                display: flex;
                flex-direction: column;
                width: 65%;
                margin: 5px auto;


                input {
                    background: transparent;
                    outline: none;
                    border: 2px solid rgba($primary-bg-color,.25);
                    border-radius: 5px;
                    font-family: 'Times New Roman', Times, serif;
                    font-size: .95em;
                    padding: .25em 1.5em;

                    &:focus {
                        border-color: rgba($primary-bg-color,.75);
                    }
                }

                .error {
                    font-size: small;
                    font-weight: bold;
                    font-style: italic;
                    color: $primary-error-color;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                button {
                    align-self: center;
                    background: $primary-bg-color;
                    color: $primary-tx-color;
                    padding: .15em 1.3em;
                    border-radius: 3px;
                    font-size: 1.03em;
                    font-family: 'Times New Roman', Times, serif;
                    cursor: pointer;
                    border: none;
                    margin-bottom: .75em;
                }
            }
           }
        }
    }

    // user profile container
    .user-profile-container {
        padding: 0 .7em;
        background: rgba($primary-tx-color,.65);

        .image-container {
            width: 100%;
            margin: .25em auto;
            padding: .3em;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background: $primary-bg-color;
            border-radius: 5px 5px 0 0;
            position: relative;

            &:hover {
                .profile-delete-btn {
                    opacity: .975;
                }
            }

            .profile-delete-btn {
                background: transparent;
                border: none;
                cursor: pointer;
                font-size: 1.5em;
                color: $primary-bg-color;
                position: absolute;
                top: 3px;
                right: 5px;
                opacity: 0;
                transition: 1s;
            }

            .controllers {
                display: flex;
                align-items: center;
                justify-content: center;
                button {
                    background: transparent;
                    border: none;
                    color: $primary-tx-color;
                    cursor: pointer;
                    font-size: 1.3em;
                }

                label {
                    color: $primary-tx-color;
                    font-size: 1.5em;
                    cursor: pointer;
                    margin: 0 .35em;
                }
            }

            img {
                max-width: 250px;
                max-height: 200px;
                border-radius: 5px;
            }

            .username-span {
                color: $primary-tx-color;
                font-family: 'Times New Roman', Times, serif;
                font-size: .85em;
                font-style: italic;
                margin: .3em;
            }

            .logout-btn {
                background: transparent;
                padding: .13em 1.5em;
                color: $primary-tx-color;
                border: 2px solid $primary-tx-color;
                border-radius: 3px;
                font-family: 'Times New Roman', Times, serif;
                font-size: 1.15em;
                cursor: pointer;
                text-transform: capitalize;
                transition: 1s;
                margin-bottom: 12px;

                &:hover {
                    background: rgba($primary-tx-color,.45);
                }
            }
        }
    }
}