* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.container {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: 42px 1fr;
}
.container .sub-con {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 0.5em;
}

header {
  width: 100%;
  height: 100%;
  background: rgb(27, 48, 31);
}
header .header-con {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .header-con .site-logo {
  font-size: 1.35em;
  font-family: cursive;
  font-style: italic;
  font-weight: bolder;
  color: rgb(213, 213, 247);
}
header .header-con .logged-out-nav {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
header .header-con .logged-out-nav button {
  background: transparent;
  font-family: "Times New Roman", Times, serif;
  font-size: 0.95em;
  border: 2px solid rgb(213, 213, 247);
  color: rgb(213, 213, 247);
  padding: 0.13em 1.3em;
  border-radius: 3px;
  cursor: pointer;
  margin-left: 0.45em;
  transition: 0.5s;
}
header .header-con .logged-out-nav button:hover {
  background: rgba(213, 213, 247, 0.3);
}

.home-con {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
}
.home-con .home-container {
  flex-grow: 3;
  height: 100%;
  width: 100%;
  padding: 0.35em;
}
.home-con .home-container .posts-container {
  width: 100%;
  height: 100%;
  max-width: 920px;
  overflow: auto;
}
.home-con .home-container .posts-container::-webkit-scrollbar {
  width: 3px;
}
.home-con .home-container .posts-container:hover::-webkit-scrollbar-track {
  background: whitesmoke;
  border-radius: 3px;
}
.home-con .home-container .posts-container:hover::-webkit-scrollbar-thumb {
  background: rgb(213, 213, 247);
  border-radius: 3px;
}
.home-con .home-container .posts-container .post {
  display: flex;
  flex-direction: column;
  margin: 0.75em 0.5em;
}
.home-con .home-container .posts-container .post .content {
  margin-left: 1.5em;
  position: relative;
  background: rgb(213, 213, 247);
  padding: 0.5em;
  border-radius: 5px;
}
.home-con .home-container .posts-container .post .content p {
  text-align: justify;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
}
.home-con .home-container .posts-container .post .content:hover .controllers {
  opacity: 1;
}
.home-con .home-container .posts-container .post .content .controllers {
  position: absolute;
  top: 0.025em;
  right: 0.05em;
  opacity: 0;
  transition: 0.5s;
}
.home-con .home-container .posts-container .post .content .controllers .post-controll-btn {
  background: transparent;
  border: none;
  font-size: 1.5em;
  margin: 0 0.3em;
  cursor: pointer;
  color: rgb(27, 48, 31);
}
.home-con .home-container .posts-container .post .author-detail-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home-con .home-container .posts-container .post .author-detail-container .author-img-name {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.home-con .home-container .posts-container .post .author-detail-container .author-img-name img {
  width: 38px;
  height: 32px;
  border-radius: 50%;
  cursor: pointer;
}
.home-con .home-container .posts-container .post .author-detail-container .author-img-name span {
  font-size: small;
  font-style: italic;
  font-weight: bold;
  color: rgb(27, 48, 31);
  margin-left: 0.13em;
}
.home-con .home-container .posts-container .post .author-detail-container .post-reaction-controllers {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.home-con .home-container .posts-container .post .author-detail-container .post-reaction-controllers .post-reaction-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.25em;
  color: rgb(27, 48, 31);
  margin-right: 0.3em;
}
.home-con .home-container .posts-container .post .author-detail-container .post-reaction-controllers span {
  font-size: small;
  font-style: italic;
  color: rgb(27, 48, 31);
}
.home-con .login-signup-form-container {
  flex-basis: 480px;
  border-left: 5px solid rgb(27, 48, 31);
  display: flex;
  align-items: start;
  justify-content: center;
}
.home-con .login-signup-form-container .form-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: start;
  justify-content: center;
  padding: 0.75em 0;
}
.home-con .login-signup-form-container .form-container form {
  width: 95%;
  margin: 0 auto;
  background: rgb(213, 213, 247);
  border-radius: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-con .login-signup-form-container .form-container form h3 {
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  text-align: center;
  margin: 12px 0;
}
.home-con .login-signup-form-container .form-container form .input-control {
  display: flex;
  flex-direction: column;
  width: 65%;
  margin: 5px auto;
}
.home-con .login-signup-form-container .form-container form .input-control input {
  background: transparent;
  outline: none;
  border: 2px solid rgba(27, 48, 31, 0.25);
  border-radius: 5px;
  font-family: "Times New Roman", Times, serif;
  font-size: 0.95em;
  padding: 0.25em 1.5em;
}
.home-con .login-signup-form-container .form-container form .input-control input:focus {
  border-color: rgba(27, 48, 31, 0.75);
}
.home-con .login-signup-form-container .form-container form .input-control .error {
  font-size: small;
  font-weight: bold;
  font-style: italic;
  color: rgb(133, 3, 3);
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-con .login-signup-form-container .form-container form .input-control button {
  align-self: center;
  background: rgb(27, 48, 31);
  color: rgb(213, 213, 247);
  padding: 0.15em 1.3em;
  border-radius: 3px;
  font-size: 1.03em;
  font-family: "Times New Roman", Times, serif;
  cursor: pointer;
  border: none;
  margin-bottom: 0.75em;
}
.home-con .user-profile-container {
  padding: 0 0.7em;
  background: rgba(213, 213, 247, 0.65);
}
.home-con .user-profile-container .image-container {
  width: 100%;
  margin: 0.25em auto;
  padding: 0.3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(27, 48, 31);
  border-radius: 5px 5px 0 0;
  position: relative;
}
.home-con .user-profile-container .image-container:hover .profile-delete-btn {
  opacity: 0.975;
}
.home-con .user-profile-container .image-container .profile-delete-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.5em;
  color: rgb(27, 48, 31);
  position: absolute;
  top: 3px;
  right: 5px;
  opacity: 0;
  transition: 1s;
}
.home-con .user-profile-container .image-container .controllers {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-con .user-profile-container .image-container .controllers button {
  background: transparent;
  border: none;
  color: rgb(213, 213, 247);
  cursor: pointer;
  font-size: 1.3em;
}
.home-con .user-profile-container .image-container .controllers label {
  color: rgb(213, 213, 247);
  font-size: 1.5em;
  cursor: pointer;
  margin: 0 0.35em;
}
.home-con .user-profile-container .image-container img {
  width: 250px;
  height: 200px;
  border-radius: 5px;
}
.home-con .user-profile-container .image-container .username-span {
  color: rgb(213, 213, 247);
  font-family: "Times New Roman", Times, serif;
  font-size: 0.85em;
  font-style: italic;
  margin: 0.3em;
}
.home-con .user-profile-container .image-container .logout-btn {
  background: transparent;
  padding: 0.13em 1.5em;
  color: rgb(213, 213, 247);
  border: 2px solid rgb(213, 213, 247);
  border-radius: 3px;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.15em;
  cursor: pointer;
  text-transform: capitalize;
  transition: 1s;
  margin-bottom: 12px;
}
.home-con .user-profile-container .image-container .logout-btn:hover {
  background: rgba(213, 213, 247, 0.45);
}
.home-con .user-profile-container .add-new-post-form-container {
  background: red;
  position: relative;
  display: flex;
}
.home-con .user-profile-container .add-new-post-form-container form {
  position: fixed;
  bottom: 5px;
  display: flex;
}
.home-con .user-profile-container .add-new-post-form-container form textarea {
  background: rgb(213, 213, 247);
  height: 28px;
  outline: none;
  border: 2px solid rgba(27, 48, 31, 0.25);
  width: 220px;
  resize: none;
  border-radius: 5px;
  padding: 0.25em 0.5em;
  font-size: 0.85em;
  font-family: "Times New Roman", Times, serif;
}
.home-con .user-profile-container .add-new-post-form-container form textarea:focus {
  border-color: rgba(27, 48, 31, 0.65);
}
.home-con .user-profile-container .add-new-post-form-container form textarea::-webkit-scrollbar {
  width: 0;
}
.home-con .user-profile-container .add-new-post-form-container form button {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.7em;
  color: rgba(27, 48, 31, 0.5);
  margin: 0 0.13em;
  align-self: flex-end;
}